- name: restart service
  ansible.builtin.shell: >
    docker compose -f {{ services_config_path }}/{{ item }}/docker-compose.yml up -d --force-recreate
  loop: "{{ services_to_restart | default([]) }}"
  become: true
  become_user: "{{ service_user }}"
  when: services_to_restart is defined and services_to_restart | length > 0

- name: restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  become: true
