server {
    listen 80 default_server;
    listen [::]:80 default_server;
    listen 443 ssl default_server;
    ssl_certificate /etc/letsencrypt/live/{{ external_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ external_hostname }}/privkey.pem;
    server_name {{ external_hostname }};
    
    root /var/www/html;
    index index.html;
    
    location / {
        try_files $uri $uri/ =404;
    }
}
