server {
    listen 80;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ external_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ external_hostname }}/privkey.pem;
    server_name immich.{{ external_hostname }};
    server_tokens off;

    location / {
        proxy_pass         http://immich-server:2283;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
        proxy_read_timeout 1200s;
        proxy_set_header   X-Forwarded-Proto $scheme;

	proxy_http_version 1.1;
        proxy_set_header   Upgrade    $http_upgrade;
        proxy_set_header   Connection "upgrade";
        proxy_redirect     off;

    }
}
