server {
    include /etc/nginx/server_common.conf;
    server_name immich.{{ external_hostname }};

    location / {
        set $upstream http://immich-server:2283;
        proxy_pass $upstream;
        include /etc/nginx/proxy_common.conf;
    }
}
