server {
    include /etc/nginx/server_common.conf;
    server_name omada.{{ external_hostname }};

    location / {
        set $upstream https://omada-controller:8043;
        proxy_pass $upstream;
        include /etc/nginx/proxy_common.conf;
        include /etc/nginx/internal_only.conf;
    }
}
