server {
    include /etc/nginx/server_common.conf;
    server_name snapcast.{{ external_hostname }};

    location / {
        set $upstream http://snapserver:1780;
        proxy_pass $upstream;
        include /etc/nginx/proxy_common.conf;
        include /etc/nginx/internal_only.conf;
    }
}
