server {
    include /etc/nginx/common/server_common.conf;
    server_name mealie.{{ external_hostname }};

    location / {
        set $upstream http://mealie:9000;
        proxy_pass $upstream;
        include /etc/nginx/common/proxy_common.conf;
    }
}
