- name: Disable systemd-resolved to free port 53
  ansible.builtin.systemd:
    name: systemd-resolved
    state: stopped
    enabled: false
  become: true

- name: Remove resolv.conf symlink
  ansible.builtin.file:
    path: /etc/resolv.conf
    state: absent
  become: true

- name: Create new resolv.conf for AdGuard
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 127.0.0.1
      nameserver 1.1.1.1
    mode: '0644'
  become: true

- name: Write AdGuard env file
  copy:
    dest: "{{ services_config_path }}/AdGuard/.env"
    owner: "{{ service_user }}"
    group: "{{ service_group }}"
    mode: '0600'
    content: |
      WORK_PATH={{ services_data_path }}/AdGuard/work
      CONF_PATH={{ services_data_path }}/AdGuard/config
      TIMEZONE={{ timezone }}
  become: true
  register: adguard_config

- name: Mark AdGuard for restart
  set_fact:
    services_to_restart: "{{ services_to_restart | default([]) | union(['AdGuard']) }}"
  when: adguard_config.changed
