- name: Write Nginx .env file
  copy:
    dest: "{{ services_config_path }}/Nginx/.env"
    mode: '0600'
    content: |
      CONF_PATH={{ nginx.conf_path }}
      HOSTNAME={{ external_hostname }}
      CERTS_PATH={{ nginx.certs_path }}
      STATIC_PATH={{ nginx.static_path }}

- name: Ensure Nginx sites-enabled directory exists
  ansible.builtin.file:
    path: "{{ nginx.conf_path }}/sites-enabled"
    state: directory
    owner: homelab
    group: homelab
    mode: '0755'

- name: Template all nginx site configs
  ansible.builtin.template:
    src: "{{ config_file }}"
    dest: "{{ nginx.conf_path }}/sites-enabled/{{ config_file | basename | regex_replace('\\.j2$', '') }}"
    owner: homelab
    group: homelab
    mode: '0644'
  with_fileglob:
    - "templates/Nginx/*.conf.j2"
  loop_control:
    loop_var: config_file

- name: Ensure homelab docker network exists
  ansible.builtin.shell: >
    docker network inspect homelab >/dev/null 2>&1 || docker network create homelab
  become: true
