---
- name: Write Redbot env file
  copy:
    dest: "{{ services_config_path }}/Redbot/.env"
    mode: '0600'
    content: |
      TOKEN={{ redbot_discord_token }}
      DATA_PATH={{ services_data_path }}/Redbot
  register: redbot_config

- name: Mark Redbot for restart
  set_fact:
    services_to_restart: "{{ services_to_restart | default([]) | union(['Redbot']) }}"
  when: redbot_config.changed

- name: Copy Redbot seed data
  ansible.builtin.synchronize:
    src: "{{ services_config_path }}/Redbot/data"
    dest: "{{ services_data_path }}/Redbot"
    recursive: yes
    rsync_opts:
      - "--chmod=Du=rwx,Dg=rx,Do=rx,Fu=rw,Fg=r,Fo=r"
