---
- name: Write Redbot env file
  copy:
    dest: "{{ services_docker_path }}/Redbot/.env"
    mode: '0600'
    content: |
      TOKEN={{ redbot_discord_token }}
      DATA_PATH={{ services_data_path }}/Redbot

- name: Copy Redbot seed data
  ansible.builtin.synchronize:
    src: "{{ services_docker_path }}/Redbot/data"
    dest: "{{ services_data_path }}/Redbot"
    recursive: yes
    rsync_opts:
      - "--chmod=Du=rwx,Dg=rx,Do=rx,Fu=rw,Fg=r,Fo=r"
