---
- name: Write Seafile env file
  copy:
    dest: "{{ services_config_path }}/Seafile/.env"
    owner: "{{ service_user }}"
    group: "{{ service_group }}"
    mode: '0600'
    content: |
      DB_PASSWORD={{ seafile_db_password }}
      ADMIN_EMAIL={{ admin_email }}
      ADMIN_PASSWORD={{ seafile_admin_password }}
      DATA_PATH={{ services_data_path }}/Seafile
      HOSTNAME=seafile.{{ external_hostname }}
      FUSE_PATH={{ seafile.fuse_path }}
  become: true
  register: seafile_config

- name: Mark Seafile for restart
  set_fact:
    services_to_restart: "{{ services_to_restart | default([]) | union(['Seafile']) }}"
  when: seafile_config.changed

- name: Ensure Seafile FUSE directory exists
  ansible.builtin.file:
    path: "{{ seafile.fuse_path }}"
    state: directory
    owner: "{{ service_user }}"
    group: "{{ service_group }}"
    mode: '0755'
  ignore_errors: true
  when: seafile.fuse_path is not mount

- name: Ensure Elasticsearch data directory exists with correct permissions
  ansible.builtin.file:
    path: "{{ services_data_path }}/Seafile/elasticsearch/data"
    state: directory
    owner: 1000
    group: 0
    mode: '0755'
  become: true

- name: Login to Seafile Docker registry
  ansible.builtin.shell: >
    docker login docker.seadrive.org --username "{{ seafile.docker_username }}" --password "{{ seafile_docker_password }}"
  become: true
  become_user: "{{ service_user }}"

- name: Setup Seafile garbage collection cron
  ansible.builtin.cron:
    name: "Seafile garbage collection"
    minute: "40"
    hour: "4"
    job: "docker exec seafile /scripts/gc.sh"
    user: "{{ service_user }}"
  become: true
