---
- name: Write Seafile env file
  copy:
    dest: "{{ services_config_path }}/Seafile/.env"
    mode: '0600'
    content: |
      DB_PASSWORD={{ seafile_db_password }}
      ADMIN_EMAIL={{ admin_email }}
      ADMIN_PASSWORD={{ seafile_admin_password }}
      DATA_PATH={{ services_data_path }}/Seafile
      HOSTNAME=seafile.{{ external_hostname }}
      FUSE_PATH={{ seafile.fuse_path }}
  register: seafile_config

- name: Mark Seafile for restart
  set_fact:
    services_to_restart: "{{ services_to_restart | default([]) | union(['Seafile']) }}"
  when: seafile_config.changed

- name: Ensure Seafile FUSE directory exists
  ansible.builtin.file:
    path: "{{ seafile.fuse_path }}"
    state: directory
    owner: homelab
    group: homelab
    mode: '0755'
  ignore_errors: true

- name: Login to Seafile Docker registry
  ansible.builtin.shell: >
    docker login docker.seadrive.org --username "{{ seafile.docker_username }}" --password "{{ seafile_docker_password }}"
  become: true
