server {
    include /etc/nginx/common/server_common.conf;
    server_name gatus.{{ external_hostname }};

    location / {
        set $upstream http://gatus:8080;
        proxy_pass $upstream;
        include /etc/nginx/common/proxy_common.conf;
        include /etc/nginx/common/internal_only.conf;
    }
}
