services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    restart: unless-stopped
    volumes:
      - ${DATA_PATH}:/app/data
{% if kuma_expose_http is defined %}
    ports:
      - "3001:3001"
{% endif %}
    networks:
      - homelab

networks:
  homelab:
    external: true
