[{{ samba_share_name }}]
path = {{ samba_share_path }}
valid users = {{ samba_user }}
writeable = Yes
create mask = {{ samba_create_mask | default('0755') }}
directory mask = {{ samba_directory_mask | default('0755') }}
browseable = Yes
