---

- Development:
    - Github:
        - abbr: GH
          href: https://github.com/
    - BLIB Board:
        - abbr: BL
          href: https://github.com/users/benreid24/projects/2
    - Outpost Engine Board:
        - abbr: OE
          href: https://github.com/users/benreid24/projects/6

- Communication & Entertainment:
    - Messages:
        - abbr: MG
          href: https://messages.google.com/web/conversations
    - Messenger:
        - abbr: FB
          href: https://www.facebook.com/messages/e2ee/t/5770193883083353
    - YouTube:
        - abbr: YT
          href: https://youtube.com/
    - Reddit:
        - abbr: RE
          href: https://reddit.com/

- Servers:
    - Overseer:
        - abbr: OV
          href: https://{{ overseer_hostname }}/
    - Onsite Pi:
        - abbr: PI
          href: https://{{ onsite_pi_hostname }}/
    - Offsite Pi:
        - abbr: GP
          href: https://{{ offsite_pi_hostname }}/
    - NVR:
        - abbr: NV
          href: http://nvr.{{ overseer_hostname }}/
