server {
    include /etc/nginx/server_common.conf;
    server_name code.{{ external_hostname }};

    location / {
        set $upstream http://code-server:8443;
        proxy_pass $upstream;
        include /etc/nginx/proxy_common.conf;
        include /etc/nginx/internal_only.conf;
    }
}
