server {
    include /etc/nginx/server_common.conf;
    server_name kuma.{{ external_hostname }};

    location / {
        set $upstream http://uptime-kuma:3001;
        proxy_pass $upstream;
        include /etc/nginx/proxy_common.conf;
        include /etc/nginx/internal_only.conf;
    }
}
