{% for domain in extra_domains %}
server {
    include /etc/nginx/server_common.conf;
    server_name {{ domain }};
    
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    
    return 301 https://{{ external_hostname }}$request_uri;
}

{% endfor %}
