#!/bin/bash

# Redirect all output to both log file and console
exec > >(tee -a {{ log_path }}) 2>&1

info() { printf "\n%s %s\n\n" "$( date )" "$*" >&2; }
trap 'echo $( date ) Backup interrupted >&2; exit 2' INT TERM

# Capture start time in milliseconds
start_time=$(date +%s%3N)

info "Starting {{ backup_type }} backup"

sudo mount -a || \
    info "Warning: Could not mount all filesystems"

{% for host in push_monitor_hosts %}
curl -fsS -X POST -H "Authorization: Bearer {{ token }}" "https://{{ host }}/api/v1/endpoints/{{ start_key }}/external?success=true" || \
    info "Warning: Could not reach start monitor at {{ host }}"
{% endfor %}

export RESTIC_PASSWORD_COMMAND="{{ crons_config_path }}/Backups/restic_passcommand.sh"
export RESTIC_REPOSITORY={{ dst_path }}
export RESTIC_HOST=$(hostname)

{{ restic }} backup                 \
    --skip-if-unchanged             \
    --ignore-inode                  \
    --exclude-caches                \
    --exclude 'home/*/.cache/*'     \
    --exclude '*/node_modules/*'    \
    --exclude '*/.venv/*'           \
    {{ src_path }}

backup_exit=$?

{{ restic }} prune
prune_exit=$?

global_exit=$(( backup_exit > prune_exit ? backup_exit : prune_exit ))

if [ ${global_exit} -eq 0 ]; then
    info "Backup and Prune finished successfully"
elif [ ${backup_exit} -eq 0 ]; then
    info "Backup finished successfully but prune failed"
else
    info "Backup and Prune failed"
fi

if [ ${backup_exit} -eq 0 ] || [ ${backup_exit} -eq 3 ]; then
    # Calculate runtime in milliseconds
    end_time=$(date +%s%3N)
    runtime_ms=$((end_time - start_time))
    
{% for host in push_monitor_hosts %}
    curl -fsS -X POST -H "Authorization: Bearer {{ token }}" "https://{{ host }}/api/v1/endpoints/{{ end_key }}/external?success=true" || \
        info "Warning: Could not reach end monitor at {{ host }}"
{% endfor %}
fi

exit ${global_exit}
